---
layout: archive
title: "Publications"
permalink: /publications/
---

You can find my publications on my <a href="https://scholar.google.com/citations?user=CQ33xLMAAAAJ&hl=en" target="_blank">Google Scholar</a> page too.

<div id="publications-list">
  <!-- Search Bar -->
  <input class="search" placeholder="Search papers by keyword, author, or venue..." style="width: 100%; margin-bottom: 1em; padding: 0.5em;" />

  <!-- Publication List -->
  <ul class="list">
    {% for post in site.publications reversed %}
      <li>
        <span class="title">{{ post.title }}</span><br>
        <span class="authors">{{ post.authors }}</span> <br>

        {% if post.venue_url %}
          <em><a href="{{ post.venue_url }}" class="venue">{{ post.venue }} ({{ post.date | date: "%Y" }})</a></em>.
        {% else %}
          <em class="venue">{{ post.venue }} ({{ post.date | date: "%Y" }})</em>.
        {% endif %}

        {% if post.paperurl %}
          [<a href="{{ post.paperurl }}">PDF</a>]
        {% endif %}

        {% for link in post.extra_links %}
          [<a href="{{ link.url }}">{{ link.name }}</a>]
        {% endfor %}
      </li>
    {% endfor %}
  </ul>

  <!-- Page Numbers -->
  <ul class="pagination"></ul>
</div>

<!-- List.js Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script>
  var options = {
    valueNames: [ 'title', 'authors', 'venue' ],
    page: 10,
    pagination: true
  };
  var publicationList = new List('publications-list', options);
</script>

